*{
    margin: 0;
    list-style: none;
    text-decoration: none;
}

#header{
    display: flex;
    background-color: blueviolet;
    color: antiquewhite;
    align-content: center;
}

#banner h1{
    font-size: 40px;
}